<h2>table page</h2>
{{#each persons}}
<table>
    <th style="background-color: brown; color:antiquewhite">Name</th>
    <th style="background-color: brown; color:antiquewhite">Number</th>
    <th style="background-color: brown; color:antiquewhite">ID</th>
    <tr>
    <th style="background-color: green; color:black">{{name}}</th>
    <th style="background-color: green; color:black">{{number}}</th>
    <th style="background-color: green; color:black">{{id}}</th>
</table>

{{/each}}